In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('dataset/clean_formspring_1306.csv')
df.head()

,Unnamed: 0,userid,post,ques,ans,asker,ans1,severity1,bully1,ans2,severity2,bully2,ans3,severity3,bully3,overall_ans,overall_severity
0,0,aguitarplayer94,Q: what&#039;s your favorite song? :D<br>A: I ...,what&#039;s your favorite song? :D<br>,I like too many songs to have a favorite,None,0,0,NaN,0,0,NaN,0,0,NaN,0,0.0
1,1,aprilpooh15,Q: <3<br>A: </3 ? haha jk! <33,<3,</3 ? haha jk! <33,None,0,0,NaN,0,0,NaN,0,0,NaN,0,0.0
2,2,aprilpooh15,Q: &quot;hey angel you duh sexy&quot;<br>A: R...,&quot;hey angel you duh sexy&quot;,Really?!?! Thanks?! haha,None,0,0,NaN,0,0,NaN,0,0,NaN,0,0.0
3,3,aprilpooh15,Q: (:<br>A: ;(,(:,;(,None,0,0,NaN,0,0,NaN,0,0,NaN,0,0.0
4,4,aprilpooh15,Q: ******************MEOWWW*******************...,******************MEOWWW*************************,*RAWR*?,None,0,0,NaN,0,0,NaN,0,0,NaN,0,0.0

In [10]:
df_new = df[['post', 'bully1' , 'bully2', 'bully3', 'overall_ans', 'overall_severity']]
df_new.head()

,post,bully1,bully2,bully3,overall_ans,overall_severity
0,Q: what&#039;s your favorite song? :D<br>A: I ...,NaN,NaN,NaN,0,0.0
1,Q: <3<br>A: </3 ? haha jk! <33,NaN,NaN,NaN,0,0.0
2,Q: &quot;hey angel you duh sexy&quot;<br>A: R...,NaN,NaN,NaN,0,0.0
3,Q: (:<br>A: ;(,NaN,NaN,NaN,0,0.0
4,Q: ******************MEOWWW*******************...,NaN,NaN,NaN,0,0.0

In [11]:
nobully_ind = np.where(df_new.bully1.isna() & df_new.bully2.isna() & df_new.bully3.isna())[0]
df_new['bully1'][np.where(df_new.bully1.isna())[0]] = ""
df_new['bully2'][np.where(df_new.bully2.isna())[0]] = ""
df_new['bully3'][np.where(df_new.bully3.isna())[0]] = ""
df_new['X'] = df_new['bully1']+df_new['bully2']+df_new['bully3']
df_new['X'][nobully_ind] = df_new.post.values[nobully_ind]
df_new = df_new.drop(columns=['bully1', 'bully2', 'bully3', 'post'])
df_new.head()

,overall_ans,overall_severity,X
0,0,0.0,Q: what&#039;s your favorite song? :D<br>A: I ...
1,0,0.0,Q: <3<br>A: </3 ? haha jk! <33
2,0,0.0,Q: &quot;hey angel you duh sexy&quot;<br>A: R...
3,0,0.0,Q: (:<br>A: ;(
4,0,0.0,Q: ******************MEOWWW*******************...

In [12]:
df_new.to_csv('dataset/formspring_1306.csv')